@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

section {
  display: flex;
  flex-direction: column;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin: 15px;
}
.card {
  cursor: pointer;
  background-color: transparent;
  height: 400px;
  perspective: 1000px;
  
}
.card h1 {
  font-size: 25px;
  border-bottom: 1px #fff solid;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.card img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 12px;
}
.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border-radius: 12px;
}
.card:hover .card-inner {
  transform: rotateY(180deg);
}
.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 12px;
}
.card-back {
  background-color: #333;
  color: white;
  padding: 20px;
  transform: rotateY(180deg);
  overflow: scroll;
  border-radius: 12px;
}
.card li {
  list-style: none;
  padding-bottom: 10px;
}

.popular-movies {
  border-radius: 12px;
  .slick-slide img {
  width: 25%
}
}

h2 {
  font-family: 'Anton', sans-serif;
  color: mix(#fff, #e91e63, 85%);
    font-size: 300px !important;  
    font-weight: 900;
    text-shadow: 
      -0.0075em 0.0075em 0 mix(#fff, #e91e63, 94%),
      0.005em 0.005em 0 mix(#fff, #e91e63, 60%),
      0.01em 0.01em 0 mix(#fff, #e91e63, 62%), 
      0.015em 0.015em mix(#fff, #e91e63, 64%), 
      0.02em 0.02em 0 mix(#fff, #e91e63, 66%), 
      0.025em 0.025em 0 mix(#fff, #e91e63, 68%),
      0.03em 0.03em 0 mix(#fff, #e91e63, 70%),
      0.035em 0.035em 0 mix(#fff, #e91e63, 72%);
}

footer {
  margin: 65px !important;
}
